@charset "UTF-8";

@media screen  and (min-width:768px) and (max-width:992px) {
    body{
          background-image: linear-gradient(to bottom,rgba(25, 210, 81, 0.716),rgb(17, 79, 17));
    }
    .design{
        width: 80vw;
        height: 285px;
        display: grid;
        grid-template-columns: auto auto;
    }
    h1{
        font-size: 3vw;
        margin-top: 0%;
    }
     .texto p{
        font-size: 2vw;
         margin-bottom: 15px;
    }
  div.imagem{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 30vw;
   display: flex;
  
   
}
   .texto{
    grid-column: 2;
   }
   .in2{
    width: 43vw;
    height: 91%;
}
.in{
    width: 46vw;
    height: 32px;
    margin-right: 5px;
}
@keyframes icons {
    0%{
         transform: translateX(25%);
         transition: transform 0.5s ease;
    }
    50%{
        transform: translateY(300%);
        transition: transform 0.5s ease;
    }
    70%{
        transform: rotateY(250deg);
        transition: transform 0.5s ease;
    }
    80%{
         transform: rotateX(250deg);
         transition: transform 0.5s ease;
    }
    100%{
         transform: translateX(-10%);
         transition: transform 0.5s ease;
    }
    
}
#i1{
    animation-name: icons;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   animation-fill-mode: forwards;
   
}
.btn{
    margin-top: 2%;
}
.btn button{
    width: 46vw; 
}
.btn button:hover{
    border: 3px solid  rgb(79, 230, 119);
    transition: border 1s ease-in-out;
}
.dados .header{
    width: 48.8%;
     transition: width 0.1s ease;
}
   
}
@media screen and (min-width:992px) and (max-width:1200px) {
    body{
         background-image: linear-gradient(to bottom,rgba(25, 210, 81, 0.716),rgb(32, 88, 32));
    }
    .design{
        width: 90vw;
        height: 350px;
        display: grid;
        grid-template-columns: auto auto;
    }
    h1{
        font-size: 3vw;
        margin-top: 0%;
    }
     .texto p{
        font-size: 1.5vw;
         margin-bottom: 15px;
    }
  div.imagem{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 45vw;
}
   .texto{
    grid-column: 2;
   }
   .in2{
    width: 43vw;
    height: 91%;
}
article{
     margin-top: 7%;
}
.in{
    width: 44vw;
    height: 8.5vh;
    margin-right: 5px;
   
}
.dados .header{
    width: 48.8%;
    transition: width 0.1s ease;
}
@keyframes icons {
    0%{
         transform: translateX(25%);
         transition: transform 0.5s ease;
    }
    50%{
        transform: translateY(300%);
        transition: transform 0.5s ease;
    }
    70%{
        transform: rotateY(250deg);
        transition: transform 0.5s ease;
    }
    80%{
         transform: rotateX(250deg);
         transition: transform 0.5s ease;
    }
    100%{
         transform: translateX(-10%);
         transition: transform 0.5s ease;
    }
    
}
#i1{
    animation-name: icons;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   animation-fill-mode: forwards;
   
}
.btn{
    margin-top: 1.5%;
}
.btn button{
    width: 44vw; 
}
.btn button:hover{
    border: 3px solid  rgb(79, 230, 119);
    transition: border 1s ease-in-out;
}
    
}
@media screen and (min-width:1200px)  {
    body{
         background-image: linear-gradient(to bottom,rgba(25, 210, 81, 0.716),rgb(43, 111, 43));
    }
   .design{
        width: 90vw;
        height: 360px;
        display: grid;
        grid-template-columns: auto auto;
    }
    h1{
        font-size: 3vw;
        margin-top: 0%;
    }
     .texto p{
        font-size: 1.5vw;
         margin-bottom: 15px;
    }
  div.imagem{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 45vw;
}
   .texto{
    grid-column: 2;
   }
   .in2{
    width: 43vw;
    height: 91%;
}

article{
     margin-top: 7%;
}
.in{
    width: 44vw;
    height: 8.5vh;
    margin-right: 5px;
   
}
.dados .header{
    width: 48.8%;
     transition: width 0.1s ease;
}
@keyframes icons {
    0%{
         transform: translateX(25%);
         transition: transform 0.5s ease;
    }
    50%{
        transform: translateY(300%);
        transition: transform 0.5s ease;
    }
    70%{
        transform: rotateY(250deg);
        transition: transform 0.5s ease;
    }
    80%{
         transform: rotateX(250deg);
         transition: transform 0.5s ease;
    }
    100%{
         transform: translateX(-10%);
         transition: transform 0.5s ease;
    }
    
}
#i1{
    animation-name: icons;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   animation-fill-mode: forwards;
   
}
.btn{
    margin-top: 1.5%;
}
.btn button{
    width: 44vw; 
}
.btn button:hover{
    border: 3px solid  rgb(79, 230, 119);
    transition: border 1s ease-in-out;
}
    
}
